.col-4 {
    background: rgba#282c34;
    color: #73ad21;
    height: 1000px;
    width: 200px;
    padding-top: 20px;
    box-shadow: 10px 10px 5px rgb(137, 141, 143);
    box-shadow: 10px 10px 5px lightblue;
    font-family: "Gill Sans", sans-serif;
    background: #73ad21;
    border-radius: 0px 50px 30px;
    width: 250px;
  }
  
  .list-group {
    height: auto;
    width: 100%;
  }
  
  .list-group-item {
    background: #73ad21;
    width: 100%;
  
    margin: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: left; 
  }

   .btn-dark {
    background: #73ad21;
  } 

  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    /* border: var(--bs-btn-border-width) solid var(--bs-btn-border-color); */
    border-radius: var(--bs-btn-border-radius);
    /* background-color: var(--bs-btn-bg); */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
